# # # # # # # # # # # # # # # # # # # #
# @author Rahul Singh
# @email rahul.singh12221998@gmail.com
# @create date 2020-08-11 22:55:59
# @modify date 2020-08-11 22:58:01
# @desc avbot
# # # # # # # # # # # # # # # # # # # #


# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

#
.env*
log

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# Local files
*.jpg
*.png
*.mp3
whazzup.txt
whazzup.txt.gz
vatsim-data.txt

# Creds
avbot-creds.json